$height: layout-size(menu);
$item-height: line-height(small);
$item-width: 50px;

>section {
   flex: 2 1 0;
   min-width: 0;

   >ul {
      width: 100%;
      height: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      >h2 {
         display: flex;
         flex-wrap: nowrap;
         align-items: center;

         >div {
            flex: 0 0 $item-width;

            li {
               position: relative;
               text-align: center;
               line-height: 100%;
            }

            h3 {
               height: $height;
            }
         }
      }
   }

   >ol {
      position: relative;
      z-index: 10;
      height: 0px;
      width: 0px;
      line-height: 1.5em;

      >div {
         display: flex;
         position: absolute;
         top: 0;
         flex-wrap: nowrap;

         >p {
            flex: 0 0 $item-width;
            text-align: left;
            overflow: visible;

            li {
               width: fit-content;
               overflow: hidden;
               padding: align-size(normal) 0;
            }

            em {
               display: block;
               padding: 0 align-size(large);
               height: fit-content;
            }

            h4 {
               width: 10em;
               text-overflow: ellipsis;
            }

            b {
               display: block;
               height: 1lh;
            }
         }
      }
   }
}
