$height: layout-size(foottab);

.foottab-nav {
   position: relative;
   &::before,
   &::after {
      content: "";
      position: absolute;
      z-index: 10;
      left: 0;
      width: 100%;
   }

	&::before {
		top: 0;
		height: 0px;
		border-top: 1px solid line-color(normal);
	}

	&::after {
		bottom: 0;
		height: 0px;
		border-bottom: 1px solid line-color(normal);
	}
}

.foottab-nav-label {
   div {
      @include reactive-box();
   }

   li {
      @include fore-panel();
      @include plane-radius(normal);
      @include reactive-box(false, false, true);
   }

   p {
      @include fore-button();
      @include plane-radius(normal);
   }

   q {
      @include fore-button();
      @include reactive-box(true, true, true);
      @include plane-radius(normal);
   }

   s {
      @include plane-radius(small);
      @include font-size(small);
      @include selection();
   }
}
