.message {
   b {
      @include font-size(small);

      &[read=false]::after {
         @include selection();
      }
   }

   * {
      &[level="debug"] {
         color: info-color(success);
      }

      &[level="info"] {
         color: info-color(detail);
      }

      &[level="warn"] {
         color: info-color(warn);
      }

      &[level="error"] {
         color: info-color(error);
      }
   }
}
