$padding: align-size(normal);

li {
   /* 不能在这层新建层叠上下文，cursor逻辑的行为依赖于这个要求 */
   // 不能将li的display改为block，那样会变得很卡顿，原因未知，
   // 可能与columns布局的底层代码的限制有关，当其子元素为block时会很卡
   display: inline-block;
   width: 100%;
   max-width: 100%;

   &:nth-child(even) {
      background-color: var(--color-line-even);
   }

   &:nth-child(odd) {
      background-color: var(--color-line-odd);
   }

   p {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      max-width: 100%;
      margin: align-size(tiny) 0;
      padding: 0 $padding;
      min-height: 1lh;
   }

   article {
      padding: 0 $padding;
   }

   pre {
      margin: align-size(tiny);
      padding: 0 $padding;
   }

   i {
      display: block;
      height: 1lh;
      aspect-ratio: 1;
      text-align: center;
      transition: all 0.5s ease;
   }

   span {
      display: block;
      position: relative;
      height: 100%;
      min-height: 0;
      min-width: 100px;
      padding: 0 1.5ch 0 2ch;
      text-overflow: ellipsis;
      text-align: right;
      border-radius: var(--textbox-radius);
      background-color: var(--color-word);

      &[selected="true"] {
         background-color: var(--color-word-selected);
      }

      &[cursor="true"]::after {
         content: ">";
         position: absolute;
         top: 0;
         left: align-size(normal);
      }
   }

   flex-input {
      position: relative;
      z-index: auto;
      display: block;
      height: 1lh;
      min-width: 80px;
      max-width: 100%;
      padding: 0 align-size(large);
      text-align: center;
      border-radius: var(--textbox-radius);
      background-color: var(--color-input);
   }

   flex-input:focus {
      outline: var(--color-input-focus) solid 2px;
      outline-offset: -1px;
   }

   flex-input::after {
      content: ",";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
   }

   flex-input:last-child::after {
      content: "";
   }

   em {
      flex: 0 0 auto;
      margin: 0 2ch;
      min-height: 0;
      font-weight: 700;
   }
}
