@use "@/css/mixins/index.scss" as *;

.reactive-h {
   @include reactive-box(true, false, false);
}

.reactive-hcs {
   @include reactive-box(true, true, true);
}

.reactive-c {
   @include reactive-box(false, true, false);
}

.reactive-hc {
   @include reactive-box(true, true, false);
}

.normal-rpanel {
   @include plane-radius(normal);
   @include normal-panel();
}

.normal-panel {
   @include normal-panel();
}

.normal-button {
   @include normal-button();
}

.normal-label {
   @include normal-label();
}

.input {
   @include plane-radius(normal);
   padding: 0 align-size(normal);
   min-width: 4em;
}

.normal-input {
   @include normal-panel();
   @extend .input;
}

.fore-input {
   @include fore-panel();
   @extend .input;
}

.back-input {
   @include back-panel();
   @extend .input;
}

.fore-button {
   @include fore-button();
}

.fore-panel {
   @include fore-panel();
}

.fore-rpanel {
   @include plane-radius(normal);
   @include fore-panel();
}

.list-item {
   @include list-item();
   text-wrap: nowrap;

   >* {
      display: inline-block;
      vertical-align: top;
   }
}

.list-view {

   >* {
      margin: align-size(tiny) 0;
   }
}
